<% provide :section, 'admin' %>
<% provide :title, t(:settings) %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <%= render 'application/breadcrumbs/control_panel' %>
    <%= render 'application/breadcrumbs/admins', active: false %>
    <%= render 'application/breadcrumbs/update', active: true, name: @admin.email, resource: @admin %>
  </ol>
</nav>

<div class="jumbotron align-items-center">
  <h2>
    <%= t :settings %>
  </h2>

  <%= render 'form', admin: @admin, password: true, submit_label: t(:save) %>

  <div class="mt-4"></div>

  <%= render 'application/danger_zone', path: @admin, resource: :admin_self %>
</div>
