<% title = Admin.model_name.human.capitalize.pluralize %>
<% provide :title, title %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <%= render partial: 'application/breadcrumbs/control_panel' %>
    <%= render partial: 'application/breadcrumbs/admins', locals: { active: true } %>
  </ol>
</nav>

<div class="jumbotron align-items-center">
  <h2><%= title %></h2>

  <div class="list-group list-group-flush">
    <% @admins.each do |admin| %>
      <div class="list-group-item list-group-item-action">
        <%= link_to admin.email, admin %>

        <%= link_to(t(:edit), edit_admin_path(admin)) if policy(admin).update? %>

        <%= link_to t(:destroy), admin, method: :delete, data: { confirm: t(:confirm) } %>
      </div>
    <% end %>
  </div>

  <br>

  <%= link_to t(:new, scope: :admin), new_admin_path %>
  <%= link_to t(:sign_out), destroy_admin_session_path, method: :delete %>
</div>
