<%= form_with(model: workspace, local: true) do |form| %>
  <%= render partial: 'error_messages', locals: { resource: workspace } %>

  <div class="form-group floating-label">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", placeholder: true %>
  </div>

  <div class="form-group custom-control custom-switch">
    <%= form.check_box :billable, class: "custom-control-input" %>
    <span class="custom-control-track"></span>
    <%= form.label :billable, class: "custom-control-label" %>
  </div>

  <%= form.submit submit_label, class: "btn btn-primary" %>
<% end %>


