<% title = t :editing, scope: :resource, resource: @workspace.name %>

<% provide :section, 'workspace' %>
<% provide :title, title %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <%= render 'application/breadcrumbs/control_panel' %>
    <%= render 'application/breadcrumbs/workspaces', active: false %>
    <%= render 'application/breadcrumbs/update', active: false, name: @workspace.name, resource: @workspace %>
  </ol>
</nav>

<div class="jumbotron align-items-center">
  <h2>
    <%= title %>
  </h2>

  <%= render 'form', workspace: @workspace, password: true, submit_label: t(:save) %>

  <div class="mt-4"></div>
  <%= render 'application/danger_zone', path: @workspace, resource: :workspace %>
</div>
