<% title = @client.name %>

<% provide :section, 'client' %>
<% provide :title, title %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <%= render partial: 'application/breadcrumbs/control_panel' %>
    <%= render partial: 'application/breadcrumbs/clients', locals: { active: false } %>
    <%= render partial: 'application/breadcrumbs/resource', locals: {
        active: true, name: @client.name, resource: @client
    } %>
  </ol>
</nav>

<div class="jumbotron align-items-center">
  <h2 class="d-flex align-items-center" style="color: #<%= @client.color.to_s(16) %>">
    <%= title %>

    <%= button_to edit_client_path(@client), method: :get, class: "btn btn-compact btn-outline-primary btn-sm" do %>
      <span class="material-icons">edit</span>
    <% end %>
  </h2>

  <span>
    <%= @client.description %>
  </span>
</div>
