<p id="notice"><%= notice %></p>

<h1>Workingschedules</h1>

<table>
  <thead>
    <tr>
      <th>Hours</th>
      <th>Worker</th>
      <th>Activity</th>
      <th>Subactivity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workingschedules.each do |workingschedule| %>
      <tr>
        <td><%= workingschedule.hours %></td>
        <td><%= workingschedule.worker_id %></td>
        <td><%= workingschedule.activity_id %></td>
        <td><%= workingschedule.subactivity_id %></td>
        <td><%= link_to 'Show', workingschedule %></td>
        <td><%= link_to 'Edit', edit_workingschedule_path(workingschedule) %></td>
        <td><%= link_to 'Destroy', workingschedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workingschedule', new_workingschedule_path %>
