<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @workingschedule.hours %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @workingschedule.worker_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @workingschedule.activity_id %>
</p>

<p>
  <strong>Subactivity:</strong>
  <%= @workingschedule.subactivity_id %>
</p>

<%= link_to 'Edit', edit_workingschedule_path(@workingschedule) %> |
<%= link_to 'Back', workingschedules_path %>
