<%= form_with(model: @project, local: true) do |form| %>
  <%= render partial: 'error_messages', locals: { resource: project } %>

  <div class="form-group floating-label">
    <%= form.label :project_name %>
    <%= form.text_field :project_name, class: "form-control", placeholder: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", placeholder: true %>
  </div>

  <div class ="form-group">
    <%= form.label :workspace_id %>
    <%= form.collection_select :workspace_id, Workspace.all, :id, :name, {}, { class: "form-control" } %>
  </div>

  <%= render 'application/form/delivery_time', form: form %>

  <div class = "form-group">
    <%= form.label :current_cost %>
    <%= form.number_field :current_cost, class: "form-control", step: "0.01"%>
  </div>

  <div class = "form-group">
    <%= form.label :currency %>
    <%= form.collection_select(
            :currency,
            Money::Currency.table.values.map { |c| OpenStruct.new({name: c[:name], iso_code: c[:iso_code]}) }.sort_by { |c| c.name},
            :iso_code, :name,
            {}, { class: "form-control"}) %>
  </div>

  <%= render "application/form/status", form: form %>

  <div class="form-group">
    <%= form.submit submit_label, class: "btn btn-primary" %>
  </div>
<% end %>
