<% provide :javascript, javascript_pack_tag('projects', 'data-turbolinks-track': 'reload') %>

<script>
  const workspacesClients = JSON.parse('<%= policy_scope(Workspace).map { |w|
    [w.id, w.clients.map { |c| [c.id, c.name]  }.to_h]
  }.to_h.to_json.html_safe %>');
</script>

<%= form_with(model: project, local: true) do |form| %>
  <%= render partial: 'error_messages', locals: { resource: project } %>

  <div class="form-group floating-label">
    <%= form.label :project_name %>
    <%= form.text_field :project_name, class: "form-control", placeholder: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control", placeholder: true %>
  </div>

  <div class ="form-group">
    <%= form.label :workspace_id %>
    <%= form.collection_select :workspace_id, policy_scope(Workspace), :id, :name,
                               { include_blank: ! project.persisted? }, { class: "form-control" } %>
  </div>

  <div class = "form-group">
    <%= form.label :client_id %>
    <%= form.collection_select :client_id, [], :id, :name, {}, { class: "form-control", disabled: true } %>
  </div>

  <%= render 'application/form/delivery_time', form: form %>

  <div class = "form-group">
    <%= form.label :currency %>
    <%= form.collection_select(
            :currency,
            Money::Currency.table.values.map { |c| OpenStruct.new({name: c[:name], iso_code: c[:iso_code]}) }.sort_by { |c| c.name},
            :iso_code, :name,
            {}, { class: "form-control"}) %>
  </div>

  <%= render "application/form/status", form: form %>

  <div class="form-group">
    <%= form.submit submit_label, class: "btn btn-primary" %>
  </div>
<% end %>
