<% title = Project.model_name.human.capitalize.pluralize %>

<% provide :section, 'project' %>
<% provide :title, title %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <%= render partial: 'application/breadcrumbs/control_panel' %>
    <%= render partial: 'application/breadcrumbs/projects', locals: { active: true } %>
  </ol>
</nav>

<div class="jumbotron align-items-center">
  <h2 class="d-flex align-items-center">
    <%= title %>

    <%= button_to new_project_path, method: :get, class: "btn btn-compact btn-outline-primary btn-sm" do %>
      <span class="material-icons">post_add</span>
    <% end %>

  </h2>

  <div class="list-group list-group-flush">
    <% @projects.each do |project| %>
      <div class="list-group-item list-group-item-action" style="column-gap: 8px;display: grid;grid-template-columns: max-content;row-gap: 4px">
        <%= link_to project, { style: "grid-column: 1; grid-row: 1;width:100%" } do %>
          <% icon = status_icon(project) %>
          <span class="material-icons" style="color: <%= icon[:color] %>;margin-right: 8px;">
            <%= icon[:icon] %>
          </span>
        <% end %>

        <%= link_to project.project_name, project, { style: "color: #{color_helper project.client.color}; grid-column: 2; grid-row: 1;" } %>

        <small style="grid-column: 2; grid-row: 2;">
          <%= project.description %>
        </small>

      </div>
    <% end %>
  </div>
</div>
