<% title = Project.model_name.human.capitalize.pluralize %>

<% provide :section, 'project' %>
<% provide :title, title %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <%= render partial: 'application/breadcrumbs/control_panel' %>
    <%= render partial: 'application/breadcrumbs/projects', locals: { active: true } %>
  </ol>
</nav>

<div class="jumbotron align-items-center">
  <h2 class="d-flex align-items-center">
    <%= title %>

    <%= button_to new_project_path, method: :get, class: "btn btn-compact btn-outline-primary btn-sm" do %>
      <span class="material-icons">group_add</span>
    <% end %>

  </h2>

  <div class="list-group list-group-flush">
    <% @projects.each do |project| %>
      <div class="list-group-item list-group-item-action">
        <%= link_to project.project_name, project %>

        <br>

        <small>
          <%= project.description %>
        </small>
        <br>
        <small>
          <%= "Status:" %>
          <%=project.status %>
        </small>
      </div>
    <% end %>
  </div>
</div>
