<% title = @project.project_name %>

<% provide :section, 'project' %>
<% provide :title, title %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <%= render partial: 'application/breadcrumbs/control_panel' %>
    <%= render partial: 'application/breadcrumbs/projects', locals: { active: false } %>
    <%= render partial: 'application/breadcrumbs/resource', locals: {
        active: true, name: @project.project_name, resource: @project
    } %>
  </ol>
</nav>

<div class="jumbotron align-items-center">
  <h2 class="d-flex align-items-center">
    <%= title %>

    <%= button_to edit_project_path(@project), method: :get, class: "btn btn-compact btn-outline-primary btn-sm" do %>
      <span class="material-icons">edit</span>
    <% end %>
  </h2>

  <span>
    <%= @project.description %>
  </span>
  <h2>Activities</h2>
  <% for activity in @project.activities %>
    <ul>
      <li><%= activity.description %></li>
    </ul>
  <% end %>
  <%= link_to 'Add Activity', project_activities_path(@project) %>
    <br>
  <%= link_to 'Back', projects_path %>
</div>
