<% title = @worker.email %>
<% workspaces = policy_scope(@worker.workspaces) %>

<% provide :section, 'worker' %>
<% provide :title, title %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <%= render 'application/breadcrumbs/control_panel' %>
    <%= render 'application/breadcrumbs/workers', active: false %>
    <%= render 'application/breadcrumbs/resource', active: true, name: @worker.email, resource: @worker %>
  </ol>
</nav>

<div class="jumbotron align-items-center">
  <h2>
    <%= title %>
  </h2>

  <% if current_admin %>
    <%= form_with(url: update_master_worker_path(@worker), method: :patch, local: false, class: "form") do |form| %>
      <div class="custom-control custom-switch" style="margin-bottom: 24px;">
        <%= form.check_box "master", name: "worker[master]", checked: @worker.master, class: "custom-control-input",
                           onclick: "$('.form').submit();" %>

        <span class="custom-control-track"></span>

        <%= form.label "master", "Master", class: "custom-control-label" %>
      </div>
    <% end %>
  <% end %>

  <h4>
    <%= Workspace.model_name.human.pluralize.capitalize %> (<%= workspaces.count %>)
  </h4>

  <div class="list-group list-group-flush mb-3">
    <% workspaces.each do |workspace| %>
      <div class="list-group-item list-group-item-flush">
        <%= link_to workspace.name, workspace %>
      </div>
    <% end %>
  </div>

  <%= render 'danger_zone', path: @worker, resource: :worker %>
</div>
