<%= form_with(model: [@project, activity], local: true) do |form| %>
  <%= render partial: 'error_messages', locals: { resource: activity } %>

  <div class="form-group floating-label">
    <%= form.label :add_activity %>
    <%= form.text_field :description, class: "form-control", placeholder: true %>
  </div>

  <%= render 'application/form/delivery_time', form: form %>

  <%= render 'application/form/status', form: form %>

  <%= form.submit submit_label, class: "btn btn-primary" %>
<% end %>
