<% title = t :new, scope: :resource, resource: Activity.model_name.human %>

<% provide :section, 'project' %>
<% provide :title, title %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <%= render 'application/breadcrumbs/control_panel' %>
    <%= render 'application/breadcrumbs/projects', active: false %>
    <%= render 'application/breadcrumbs/resource', active: false, name: @project.project_name, resource: @project %>
    <%= render 'application/breadcrumbs/activities' %>
    <%= render 'application/breadcrumbs/create', resource: Activity %>
  </ol>
</nav>

<div class="jumbotron align-items-center">
  <h2>
    <%= title %>
  </h2>

  <%= render 'form', activity: @activity, password: false, submit_label: t(:create) %>
</div>
