<% title = t :new, scope: :resource, resource: Activity.model_name.human %>

<% provide :section, 'activity' %>
<% provide :title, title %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <%= render partial: 'application/breadcrumbs/control_panel' %>
    <%= render partial: 'application/breadcrumbs/projects', locals: { active: false } %>
    <%= render partial: 'application/breadcrumbs/create', locals: { resource: Activity } %>
  </ol>
</nav>

<div class="jumbotron align-items-center">
  <h2>
    <%= title %>
  </h2>

  <%= render 'form', activity: @activity, password: false, submit_label: t(:create) %>
</div>

<div>
  <h2>
    <%=link_to 'Back', project_activities_path(@project) %>
  </h2>

</div>
